YEAR=YYYY

BASE_FOLDER_RAW_DATA="path/to/data_raw"
BASE_FOLDER_CLEAN_DATA="path/to/data_clean"
BASE_FOLDER_STANDARDIZED_DATA="path/to/data_standardized"
BASE_FOLDER_ENRICHED_DATA="path/to/data_enriched"
BASE_FOLDER_LOAD_DATA="path/to/data_load"
BASE_FOLDER_DIMENSION_DATA="path/to/data_dimension"
BASE_FOLDER_ONE_DRIVE="path/to/data_onedrive"