YEAR=YYYY

BASE_FOLDER_RAW_DATA="path/to/data_raw"
BASE_FOLDER_CLEAN_DATA="path/to/data_clean"
BASE_FOLDER_STANDARDIZED_DATA="path/to/data_standardized"
BASE_FOLDER_ENRICHED_DATA="path/to/data_enriched"
BASE_FOLDER_LOAD_DATA="path/to/data_load"
BASE_FOLDER_DIMENSION_DATA="path/to/data_dimension"
BASE_FOLDER_ONE_DRIVE="path/to/data_onedrive"

EMAIL_FROM_ADDRESS="your_email@gmail.com"
EMAIL_TO_ADDRESS="your_email@gmail.com"
EMAIL_SMTP_HOST="smtp.gmail.com"
EMAIL_SMTP_PORT=587
EMAIL_SMTP_PASSWORD="your_smtp_password"


# Schedule type: daily | monthly | yearly
#   daily   → runs every day        — only HH:MM is used
#   monthly → runs every month      — DD and HH:MM are used
#   yearly  → runs every year       — MM-DD and HH:MM are used
TYPE=

# Format: YYYY-MM-DD HH:MM (start date and time when the pipeline runs daily)
PIPELINE_RUN_TIME=

# Format: number of hours (how many hours before the pipeline runs that a warning email will be sent)
WARNING_HOURS_BEFORE=
